.woop{
    text-align: center;
    color: black;
    font-family: sans-serif;
    margin-top: 100px;
    font-size: 30px;
}
.introduction{
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}
.button{
   /* Centers vertically */
    font-family: sans-serif;
    font-size: 15px;
    display: block;
    margin: auto;
    height: 60px;
    width: 300px;
    border-radius: 10px;
    border: 50px;
    margin-top: 40 px;
    margin-bottom: 20px;
    cursor: pointer;

}
.divider{
    width: 400px;
    margin-top: 10px;
}
.or{
    font-size: 10px;
    text-align: center;
    font-family: sans-serif;
    color: lightgray;
}
.pic{
    width: 80%;
    padding-bottom: 60px;
    padding-top: 5px;

}
.icons{
    font-family: sans-serif;
    margin: 30px;
    height: 60px;
    width: 70px;
    border-radius: 10px;
    border: 50px;
    margin-top: 30px;
    padding-bottom: 10px;
    cursor: pointer;
}
.what{
    font-size: 10px;
    text-align: center;
    font-family: sans-serif;
    color: lightgray;
    margin-top: -50px;
    margin-bottom: 30px;
    padding-top: 30px;
}
.centered-buttons{
    text-align: center;

}
.text-box {
  width: 300px;
  height: 20px;          /* or larger if it's a textarea */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px auto;
  display: block;        /* to center it if no flexbox */
  font-family: sans-serif;

}
.no-style{
    text-decoration: none;
    color: inherit;
}
.text-pads{
    padding-top: 70px;
    text-align: center;
    color: black;
    font-family: sans-serif;
}
.text{
    text-align: center;
    color: black;
    font-family: sans-serif;
}
.long-divider{
    width: 1000px;
    margin-top: 10px;
}
.pads{
    padding-top: 70px;
}
.choices{
    background-color: #ccc;
    font-family: sans-serif;
    margin: 20px;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}
.body{
    background-color: #FFFFFF;
}
.box {
  width: 250px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin: 30px;

  flex-direction: column;

}
.flex{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.nopadflex{
     display:flex;
    align-items: center;
    justify-content: center;
}
.calendarOptions{
  width: 200px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px auto;
  display: block;
  margin-top: -15px;       
}
.tinyDivider{
    width: 100px;
    margin-top: -10px;
}
.description{
 width: 200px;
 height: 100px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px auto;
  display: block;
  margin-top: 13px; 
  text-align: left;

}
.calentitles{
   text-align: center;
   padding-right: 180px;
    color: black;
    font-family: sans-serif; 
    font-size: 16px;
    margin-bottom: 10px;
    
}
.DropDownPadding{
  padding: 60;
}

.timeOptions{
  width: 50px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 5px;
  margin-bottom: -17%;   
}
.timePadding{
    text-align: center;
    margin-right: 10px;
}
.title{

  width: 200px;
  height: 20px;          /* or larger if it's a textarea */
  padding: 3px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: auto;
  display: block;        /* to center it if no flexbox */
  font-family: sans-serif;
  margin-bottom: -10px;
}
.topLeftAlignment{
   width: 192px;
    text-align: left;        /* Align text to the right */
  vertical-align: top;      /* Only affects inline elements, not inputs */
  padding-top: 0.5em;       /* Push text down to simulate top alignment */
  line-height: normal; 
  border: none;
  outline: none;
  height: 90px;
}
.downloadEmailButtons{
    background-color: #ccc;
    font-family: sans-serif;
    margin: 60px;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;

}
.scroll-container {
min-width: 1300px;
}
.error{
    font-size: 10px;
    text-align: center;
    font-family: sans-serif;
    color: rgb(28, 2, 2);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 400px;
    height: auto;
    margin:  0px auto;
    background-color: #A0D1D3;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn{
    from{
    opacity: 0;
    transform: translateY(0); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.sign-up{
    text-decoration: none;
}

.signout{
    position: relative;
    font-family: sans-serif;
    height: 60px;
    width: 70px;
    border-radius: 10px;
    border: 50px;
    cursor: pointer;
    top: 80px;
    left: 40px;
}
.signoutPic{
    width: 80%;
    padding-top: 5px;

}

 


